.lead {
  width: 76.875%;
  margin-left: auto;
  margin-right: auto;
}

.lead__title {
  width: 73.17%;
  margin-top: 91px;
  margin-left: auto;
  margin-right: auto;
  font-size: 96px;
  line-height: 1.04;
  font-style: normal;
  font-weight: 900;
  text-align: center;
}

.lead__subtitle {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  font-size: 30px;
  line-height: 1.2;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.lead__image-container {
  width: 100%;
  margin-top: 64px;
}

.lead__image {
  width: 100%;
  box-shadow: 10px 10px 25px #000000;
}
