* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

.page {
  min-width: 300px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  background-color: #2a2c2f;
  color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
