.places {
  width: 77.11%;
  margin: 0 auto;
  margin-top: 92px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.places__card {
  border: 2px solid red;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.94fr 1.06fr;
  grid-template-rows: auto auto auto auto;
  column-gap: 40px;
  row-gap: 48px;
}

.places__title {
  border: 5px solid purple;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
  grid-column: 1;
  grid-row: 1;
}

.image__container {
  position: relative;
}

.places__image {
  border: 5px solid purple;
  width: 100%;
  box-shadow: 10px 10px 25px #000000;
  grid-column: 1;
  grid-row: 2;
}

.text_over_img {
  position: absolute;
  top: 5px;
  left: 10px;
}

.places__image:hover {
  filter: brightness(0.5);
}

.places__frame-compra {
  border: 5px solid purple;
  width: 68%;
  padding: 13px 20px;
  background: linear-gradient(to right, #0278fe 0%, #003a7b 100%);
  box-shadow: 5px 5px 10px #000000;
  border-radius: 4px;
  grid-column: 1;
  grid-row: 3;
  text-decoration: none;
}

.places__frame-compra:hover {
  background: linear-gradient(
    to right,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 100%
  );
}

.places__text-compra {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  color: white;
  text-decoration: none;
}

.places__website {
  border: 5px solid purple;
  grid-column: 2;
  grid-row: 1;
  align-content: end;
}

.website__container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.places__url-heading {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.places__artist {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
}

.places__text-container {
  border: 5px solid purple;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.places__text-container_span {
  border: 5px solid purple;
  grid-column: 2;
  grid-row: 2 / span 3;
}

.places__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.63;
}

.grid {
  font-size: 12px;
  font-weight: normal;
  color: yellow;
  margin: 0;
  padding: 0;
}
